<h1><%= @restaurant.name %></h1>
 <p><u>Phone Number</u>: <%= @restaurant.phone_number %></p>
<p><u>Address:</u>: <%= @restaurant.address %></p>
<p><u>Description</u>: <%= @restaurant.description %></p>
